Package: com.DomT4.clearsans
Name: ClearSans
Version: 2.2
Architecture: iphoneos-arm
Description: An iOS Port of Intel’s open font Clear Sans.
Depends: com.bytafont.bytafont2
Section: Fonts (BytaFont 2)
Depiction: http://myrepospace.com
Homepage: http://cydia.myrepospace.com/DomT4/
Author: Dominyk <dom_t4@yahoo.com>
Maintainer: Dominyk <dom_t4@yahoo.com>
 